Repository Brightspace/bmx, changes with the labels that .github/labeler.yml gives for each.
All labels: language/csharp, language/js, language/sql, language/terraform, language/powershell, area/github-actions

readd user email strip check
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/OktaHomeResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

mend
  .github/workflows/publish.yml
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp, area/github-actions

mend
  .github/workflows/publish.yml
Labels: area/github-actions

deal in uris instread of string for orgs
  src/D2L.Bmx/Okta/Models/OktaSession.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

remove OktaHomeResponse model
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/OktaHomeResponse.cs
Labels: language/csharp

rename to orgUrl
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

ci: add arm builds
  .github/workflows/publish.yml
Labels: area/github-actions

dont mention sso
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

simplify login name check
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

just try arm64 without changes to windows and mac
  .github/workflows/publish.yml
  Dockerfile.al2-arm64
Labels: area/github-actions

upload arm64
  .github/workflows/publish.yml
Labels: area/github-actions

add arm64 dockerfile to the workflow
  .github/workflows/publish.yml
  Dockerfile.ubuntu-arm64
Labels: area/github-actions

mend
  .github/workflows/publish.yml
Labels: area/github-actions

fix osx paths
  .github/workflows/publish.yml
Labels: area/github-actions

Update src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/ParameterDescriptions.cs
Labels: language/csharp

Update src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Update src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Update src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Update src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

don't pass the client factory
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

check elevated permissions on experimental flag
  src/D2L.Bmx/Program.cs
Labels: language/csharp

scarier message
  src/D2L.Bmx/Program.cs
Labels: language/csharp

fix libc call
  src/D2L.Bmx/Program.cs
Labels: language/csharp

auto format
  src/D2L.Bmx/Program.cs
Labels: language/csharp

format
  src/D2L.Bmx/Program.cs
Labels: language/csharp

path join and don't throw if no browser found on linux / mac
  src/D2L.Bmx/ParentProcess.cs
Labels: language/csharp

mend
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/ParentProcess.cs
Labels: language/csharp

remove ubuntu arm64 build
  .github/workflows/publish.yml
  Dockerfile.ubuntu-arm64
Labels: area/github-actions

wording
  src/D2L.Bmx/Program.cs
Labels: language/csharp

don't kill on bad setup
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/UserPrivilieges.cs
Labels: language/csharp

mend
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

mend
  src/D2L.Bmx/Program.cs
Labels: language/csharp

ci: add arm builds (#481)
  .github/workflows/publish.yml
Labels: area/github-actions

okta: add passwordless dsso support (#480)
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/Okta/Models/OktaSession.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

reword the warning message
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Check for elevated permissions with automatic login (#482)
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/UserPrivilieges.cs
Labels: language/csharp

ci: fix build uploading after adding arm64
  .github/workflows/publish.yml
Labels: area/github-actions

ci: fix build uploading after adding arm64 (#484)
  .github/workflows/publish.yml
Labels: area/github-actions

reword user-facing messages to say "passwordless"
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

reword user-facing messages to say "passwordless" (#485)
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

.github/labeler.yml:

language/csharp:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.cs'
          - '**/*.csproj'
language/js:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/package.json*'
          - '**/*.ts'
          - '**/*.vue'
language/sql:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'
language/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.tf'
language/powershell:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ps1'
          - '**/*.psm1'
area/github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
