Repository Brightspace/bmx, changes with the labels that .github/labeler.yml gives for each.
All labels: language/csharp, language/js, language/sql, language/terraform, language/powershell, area/github-actions

Update .github/workflows/editorconfig-checker.yml
  .github/workflows/editorconfig-checker.yml
Labels: area/github-actions

ci: bump editorconfig checker to node20
  .github/workflows/editorconfig-checker.yml
Labels: area/github-actions

ci: bump editorconfig-checker to node20 (#457)
  .github/workflows/editorconfig-checker.yml
Labels: area/github-actions

De-serialize Security Question MFA to different type
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Turn profile to a constructor parameter
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
Labels: language/csharp

- Static type property to store discriminator value in type (avoid mismatch) - Rename "token" factor to a more appropriate name
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
Labels: language/csharp

Use a const base type factor "name" to avoid typos
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Use an exact type match to consider base type as unsupported
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

auto format
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Use a separate const name for "unsupported/unknown MFA factors"
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

De-serialize MFA factors to different types (#459)
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Mask input for security question MFA
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Prompt with question text for security question MFA
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Use a different separator now that MFA factors have pretty names
  src/D2L.Bmx/ConsolePrompter.cs
Labels: language/csharp

Improve question MFA prompt (#458)
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

remove AWS credential provider settings on `bmx write`
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

remove AWS credential provider settings on `bmx write` (#461)
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

update to .NET 9
  .github/workflows/format.yml
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp, area/github-actions

update to .NET 9 (#462)
  .github/workflows/format.yml
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp, area/github-actions

don't print duplicate org & user info
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
Labels: language/csharp

print parameter value when provided via CLI arg or config
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/ParameterSource.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

auto format
  src/D2L.Bmx/Program.cs
Labels: language/csharp

print parameter value when provided via CLI arg or config
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/ParameterSource.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

handle profile too
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

print parameter value if and only if provided via CLI arg or config (#464)
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/ParameterSource.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

use ANSI escape codes to control colours of parameters we print
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

use ANSI escape codes to control colours of parameters we print (#466)
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

use ANSI escape codes to control all console text colours
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/UpdateChecker.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

simplify
  src/D2L.Bmx/ConsoleWriter.cs
Labels: language/csharp

use ANSI escape codes to control all console text colours (#467)
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/UpdateChecker.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

fix up & touch up user messages
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

fix up & touch up user facing messages (#468)
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

fix NO_COLOR branching & support coloured text in mintty
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

fix NO_COLOR branching & support coloured text in mintty (#469)
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

touch up mintty warning message
  src/D2L.Bmx/ConsolePrompter.cs
Labels: language/csharp

touch up mintty warning message (#470)
  src/D2L.Bmx/ConsolePrompter.cs
Labels: language/csharp

make coloured text work under winpty
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

make coloured text work under winpty (#471)
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

fix how we find parent process
  .github/workflows/publish.yml
  src/D2L.Bmx/ParentProcess.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/UnixParentProcess.cs
  src/D2L.Bmx/WindowsParentProcess.cs
Labels: language/csharp, area/github-actions

print duration when provided via config file or CLI arg
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ParameterSource.cs
Labels: language/csharp

.github/labeler.yml:

language/csharp:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.cs'
          - '**/*.csproj'
language/js:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/package.json*'
          - '**/*.ts'
          - '**/*.vue'
language/sql:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'
language/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.tf'
language/powershell:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ps1'
          - '**/*.psm1'
area/github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
