Repository Brightspace/bmx, changes with the labels that .github/labeler.yml gives for each.
All labels: language/csharp, language/js, language/sql, language/terraform, language/powershell, area/github-actions

allow interactive prompts when using cached creds (#442)
  src/D2L.Bmx/AwsCredsCreator.cs
Labels: language/csharp

add '--use-credential-process' to write command
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

nit
  src/D2L.Bmx/Program.cs
Labels: language/csharp

add '--use-credential-process' to write command (#443)
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

update README for 3.1 release
  README.md
Labels: none

update README for 3.1 release (#444)
  README.md
Labels: none

root command prompts for subcommand selection
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

root command prints help text
  src/D2L.Bmx/Program.cs
Labels: language/csharp

Update PR Template
  .github/pull_request_template.md
Labels: none

Update PR Template (#445)
  .github/pull_request_template.md
Labels: none

wipes profile section when bmx write --use-credential-process is ran
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

auto format
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

checked if file exists
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

auto format
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

fixed formatting
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

auto format
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

wipes profile section when bmx write --use-credential-process is ran (#447)
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

display okta user and org in password prompt
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
Labels: language/csharp

wrap in single quotes
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
Labels: language/csharp

wording
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: language/csharp

oxford comma
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: language/csharp

org is nullable
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: language/csharp

reformat data
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/ParameterDescriptions.cs
Labels: language/csharp

remove extra space
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: language/csharp

Update src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: language/csharp

Some AWS SDK's invoke BMX with quotes as part of the arguments
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

display okta user and org in password prompt / failed auth error message (#451)
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

remove qoutes from invoke via AWS Credential Process (#452)
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

write: update config file section with same name if no cred process flag
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

Update src/D2L.Bmx/WriteHandler.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

rename to sectionName
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

write: update config file section with same name if no cred process flag (#453)
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

refactor ini file handling logic for write command
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

refactor ini file handling logic for write command (#454)
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

Update PR Template
  .github/pull_request_template.md
Labels: none

Update PR Template
  .github/pull_request_template.md
Labels: none

Update PR Template (#456)
  .github/pull_request_template.md
Labels: none

Prompt with question text for security question MFA
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

ci: use shared editorconfig-checker workflow
  .github/workflows/editorconfig-checker.yml
Labels: area/github-actions

Mask input for security question MFA
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

.github/labeler.yml:

language/csharp:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.cs'
          - '**/*.csproj'
language/js:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/package.json*'
          - '**/*.ts'
          - '**/*.vue'
language/sql:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'
language/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.tf'
language/powershell:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ps1'
          - '**/*.psm1'
area/github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
