Repository Brightspace/bmx, changes with the labels that .github/labeler.yml gives for each.
All labels: language/csharp, language/js, language/sql, language/terraform, language/powershell, area/github-actions

extract password auth into a dedicated method
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

extract password auth into a dedicated method (#486)
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

tweak DSSO messages for UX
  src/D2L.Bmx/BmxEnvironment.cs
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

tweak DSSO messages for UX
  src/D2L.Bmx/BmxEnvironment.cs
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

tweak DSSO messages for UX (#487)
  src/D2L.Bmx/BmxEnvironment.cs
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

remove `--experimental-bypass-browser-security`
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

properly time out when waiting on the browser
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

properly time out when waiting on the browser (#489)
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

tweak release workflow
  .github/workflows/publish.yml
Labels: area/github-actions

remove `--experimental-bypass-browser-security` (#488)
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

tweak release workflow (#490)
  .github/workflows/publish.yml
Labels: area/github-actions

turn `Browser` non-static
  src/D2L.Bmx/BrowserLauncher.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

turn `Browser` non-static (#491)
  src/D2L.Bmx/BrowserLauncher.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

refactor
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

add per-page timeout for passwordless auth
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

add per-page timeout for passwordless auth (#492)
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

don't try passwordless on Linux
  src/D2L.Bmx/BrowserLauncher.cs
Labels: language/csharp

exclude linux earlier
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

comment
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

don't try passwordless on Linux (#493)
  src/D2L.Bmx/BrowserLauncher.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

update dependencies
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp

update dependencies (#494)
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp

disable passwordless for macOS
  src/D2L.Bmx/BrowserLauncher.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

disable passwordless for macOS (#495)
  src/D2L.Bmx/BrowserLauncher.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

add passwordless auth section to README
  README.md
Labels: none

add passwordless auth section to README (#496)
  README.md
Labels: none

Use spectre.console lib to manage ANSI escape code
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp

Use spectre.console lib to manage ANSI escape code (#497)
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp

move versioning logic into csproj & simplify build commands
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp, area/github-actions

move versioning logic into csproj & simplify build commands (#498)
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: language/csharp, area/github-actions

write messages to stderr
  src/D2L.Bmx/ConsoleWriter.cs
Labels: language/csharp

write all informational messages to stderr (#499)
  src/D2L.Bmx/ConsoleWriter.cs
Labels: language/csharp

add more debug logs for passwordless auth
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

longer timeout for first page load in browser
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

add more debug logs for passwordless auth (#500)
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

longer timeout for first page load during passwordless auth (#501)
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

build for Linux ARM64 in CI
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
Labels: area/github-actions

build for Linux ARM64 in CI (#502)
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
Labels: area/github-actions

add back Version environment variable in CI
  .github/workflows/publish.yml
Labels: area/github-actions

add back Version environment variable in CI (#503)
  .github/workflows/publish.yml
Labels: area/github-actions

.github/labeler.yml:

language/csharp:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.cs'
          - '**/*.csproj'
language/js:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/package.json*'
          - '**/*.ts'
          - '**/*.vue'
language/sql:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'
language/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.tf'
language/powershell:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ps1'
          - '**/*.psm1'
area/github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
