Repository Brightspace/bmx, changes with the labels that .github/labeler.yml gives for each.
All labels: language/csharp, language/js, language/sql, language/terraform, language/powershell, area/github-actions

.github/labeler.yml:

language/csharp:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.cs'
          - '**/*.csproj'
language/js:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/package.json*'
          - '**/*.ts'
          - '**/*.vue'
language/sql:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'
language/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.tf'
language/powershell:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ps1'
          - '**/*.psm1'
area/github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

replace RuntimeInformation.IsOSPlatform with OperatingSystem.Is*
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
  src/D2L.Bmx/UpdateChecker.cs
  src/D2L.Bmx/UpdateHandler.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

print duration when provided via config file or CLI arg (#473)
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ParameterSource.cs
Labels: language/csharp

replace RuntimeInformation.IsOSPlatform with OperatingSystem.Is* (#474)
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
  src/D2L.Bmx/UpdateChecker.cs
  src/D2L.Bmx/UpdateHandler.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: language/csharp

fix how we find parent process (#472)
  .github/workflows/publish.yml
  src/D2L.Bmx/ParentProcess.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/UnixParentProcess.cs
  src/D2L.Bmx/WindowsParentProcess.cs
Labels: language/csharp, area/github-actions

don't print duration if --non-interactive supplied
  src/D2L.Bmx/AwsCredsCreator.cs
Labels: language/csharp

don't print duration if --non-interactive supplied (#475)
  src/D2L.Bmx/AwsCredsCreator.cs
Labels: language/csharp

remove console IO hack
  src/D2L.Bmx/ConsolePrompter.cs
Labels: language/csharp

remove console IO hack (#476)
  src/D2L.Bmx/ConsolePrompter.cs
Labels: language/csharp

make Okta API client stateless
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

make Okta API client stateless (#477)
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

trim each line when printing update reminder
  src/D2L.Bmx/ConsoleWriter.cs
Labels: language/csharp

trim each line when printing update reminder (#478)
  src/D2L.Bmx/ConsoleWriter.cs
Labels: language/csharp

prevent Git from doing line ending conversion on any machine
  .gitattributes
Labels: none

add .gitattribute to prevent line ending conversion on any machine (#479)
  .gitattributes
Labels: none

okta: add dsso authentication
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/Okta/Models/OktaHomeResponse.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

add cancellation token to newpageasync
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

tweak warning messages
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Update src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

var name tweak
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

tweak warning message for non matching user
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

mend
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

change reload signin page
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

add passwordless option that defaults to false
  src/D2L.Bmx/BmxConfig.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

mend
  src/D2L.Bmx/BmxConfigProvider.cs
Labels: language/csharp

tweak warning message
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

set browser as headless based on bmx_debug env variable
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

readd path check
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

default browser to edge for windows
  src/D2L.Bmx/Browser.cs
Labels: language/csharp

headless is always true regardless of bmx_debug
  src/D2L.Bmx/Browser.cs
Labels: language/csharp

make no-sandbox option scarier
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/Program.cs
Labels: language/csharp

abort if not on vpn
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

normalize okta org and check users route
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/OktaHomeResponse.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

remove passwordless flag
  src/D2L.Bmx/BmxConfig.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

mend
  src/D2L.Bmx/ConsolePrompter.cs
Labels: language/csharp

adjust parameter name for experimental
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

rename okta session function
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

redo org check
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: language/csharp

Update src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/Browser.cs
Labels: language/csharp

nits
  src/D2L.Bmx/Browser.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: language/csharp

more nits
  src/D2L.Bmx/Okta/OktaClient.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
Labels: language/csharp
