Repository Brightspace/bmx, pull requests merged in 2023-02, with the labels that each got.

#223 dotnet7: create barebones project
  .editorconfig
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labels.yml
  .github/workflows/publish.yml
  .gitignore
  CODEOWNERS
  D2L.Bmx.sln
  README.md
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/nuget.config
Labels: size/L, language/csharp, area/github-actions

#226 dotnet7: Recreate dotnet cli
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/Print.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/Write.cs
Labels: size/L, language/csharp

#227 ci: fix publish workflow
  .github/workflows/publish.yml
Labels: size/XS, area/github-actions

#228 add Roslynator and fix nonconformance
  Directory.Build.props
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/Print.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/Write.cs
Labels: size/M, language/csharp

#229 Adds format and editorconfig-checker workflows
  .github/workflows/editorconfig-checker.yml
  .github/workflows/format.yml
  D2L.Bmx.sln
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/Program.cs
Labels: size/M, language/csharp, area/github-actions

#232 dotnet7: Refactor cli experience
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/M, language/csharp
