Repository Brightspace/bmx, pull requests merged in 2023-08, with the labels that each got.

#377 Use ini-parser-netstandard for all ini file parsing
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: size/S, language/csharp

#382 clarify "account" in README
  README.md
Labels: size/S

#383 update placeholder format in README.md
  README.md
Labels: size/S

#389 Update CODEOWNERS
  CODEOWNERS
Labels: size/XS
