Repository Brightspace/bmx, pull requests merged in 2023-09, with the labels that each got.

#397 check for updates on run
  src/D2L.Bmx/BmxPaths.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/SourceGenerationContext.cs
  src/D2L.Bmx/UpdateChecker.cs
Labels: size/M, language/csharp

#384 AWS Credentials: Add cache
  src/D2L.Bmx/Aws/AwsCacheModel.cs
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/BmxPaths.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/SourceGenerationContext.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/L, language/csharp

#407 update checker: reduce timetout to 2 seconds and trim tag name
  src/D2L.Bmx/UpdateChecker.cs
Labels: size/XS, language/csharp

#408 Okta and AWS broader error handling
  src/D2L.Bmx/Aws/AwsClient.cs
  src/D2L.Bmx/BmxException.cs
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: size/M, language/csharp
