Repository Brightspace/bmx, pull requests merged in 2023-06, with the labels that each got.

#323 remove allow_project_configs config option
  src/D2L.Bmx/BmxConfig.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/S, language/csharp

#322 revamp AWS account & role selection
  src/D2L.Bmx/Aws/AwsClient.cs
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/HtmlXmlHelper.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Okta/State/OktaAccountState.cs
Labels: size/L, language/csharp

#324 control all key strokes when entering password
  .dockerignore
  .gitignore
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/M, language/csharp

#325 don't show exception details to user
  src/D2L.Bmx/Program.cs
Labels: size/M, language/csharp

#326 limit max search depth for project config file
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/BmxPaths.cs
Labels: size/S, language/csharp

#328 rename default_duration to duration in config
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/BmxConfig.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Program.cs
Labels: size/S, language/csharp

#327 group CLI options according to which command(s) they serve
  src/D2L.Bmx/Program.cs
Labels: size/M, language/csharp

#330 use proper HTML parsing to extract SAMLResponse
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/HtmlXmlHelper.cs
Labels: size/S, language/csharp

#331 simplify trimmer roots specification
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/TrimmerRoots.xml
Labels: size/XS, language/csharp

#332 upgrade to dotnet 8
  .github/workflows/publish.yml
  Dockerfile.alpine
  Dockerfile.ubuntu
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: size/S, language/csharp, area/github-actions

#337 update .NET version in format workflow
  .github/workflows/format.yml
Labels: size/XS, area/github-actions

#333 write: use ini parser to format credentials file
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/S, language/csharp

#336 use primary constructor
  nuget.config
  src/D2L.Bmx/Aws/AwsClient.cs
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/L, language/csharp

#346 check binary sizes in CI
  .github/workflows/publish.yml
Labels: size/S, area/github-actions

#335 Github Action: Add version and version format check.
  .github/workflows/publish.yml
Labels: size/S, language/csharp, area/github-actions

#356 rename `--output` to `--format` for print command
  src/D2L.Bmx/Program.cs
Labels: size/S, language/csharp

#357 use POSIX compliant stty arguments
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/XS, language/csharp

#338 print: default output based on parent process name
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/UnixParentProcess.cs
  src/D2L.Bmx/WindowsParentProcess.cs
Labels: size/M, language/csharp

#358 Noninteractive configure
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/Program.cs
Labels: size/S, language/csharp

#359 Add bmx login
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/M, language/csharp

#360 configure: prevent data stomping
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: size/M, language/csharp
