Repository Brightspace/bmx, pull requests merged in 2023-05, with the labels that each got.

#260 CI: Implement release creation
  .github/workflows/publish.yml
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: size/M, language/csharp, area/github-actions

#259 cache okta sessions
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/Okta/Models/OktaMeResponse.cs
  src/D2L.Bmx/Okta/Models/OktaSessionCache.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
  src/D2L.Bmx/Okta/SourceGenerationContext.cs
  src/D2L.Bmx/Okta/State/OktaAuthenticatedState.cs
Labels: size/M, language/csharp

#265 Set partial trimming
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: size/XS, language/csharp

#266 Fix bom
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: size/XS, language/csharp

#271 ci: publish workflow uses tar for mac / linux
  .github/workflows/publish.yml
Labels: size/S, area/github-actions

#267 print: support json / aws credentials output
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/Aws/AwsClient.cs
  src/D2L.Bmx/Aws/AwsCredentials.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/SourceGenerationContext.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/M, language/csharp

#272 Dont save session if no config
  src/D2L.Bmx/Authenticate.cs
  src/D2L.Bmx/BmxPaths.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
Labels: size/S, language/csharp

#273 Add configure command
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Program.cs
Labels: size/M, language/csharp

#284 longer docker builds timeout
  .github/workflows/publish.yml
Labels: size/XS, area/github-actions

#285 print: fix secret access key env var name
  src/D2L.Bmx/PrintHandler.cs
Labels: size/XS, language/csharp

#288 choose MFA option if there is only one
  src/D2L.Bmx/Authenticate.cs
Labels: size/S, language/csharp

#287 ci: publish workflow uses draft tag id and finalizes release
  .github/workflows/publish.yml
Labels: size/S, area/github-actions

#292 ci: publish indent prerelease
  .github/workflows/publish.yml
Labels: size/S, area/github-actions

#294 make classes non-static where appropriate
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Okta/OktaAuthenticator.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/L, language/csharp

#295 optimize password input handling
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/S, language/csharp

#293 ci: fix publish typos
  .github/workflows/publish.yml
Labels: size/S, area/github-actions

#296 configure: add allow project config prompt
  src/D2L.Bmx/BmxConfig.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/ConfigureHandler.cs
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/S, language/csharp

#306 clean up print output by using raw string literals
  src/D2L.Bmx/Aws/AwsClient.cs
  src/D2L.Bmx/PrintHandler.cs
Labels: size/M, language/csharp

#305 configure: create .bmx folder and config file if needed
  src/D2L.Bmx/BmxConfigProvider.cs
Labels: size/XS, language/csharp

#308 specify project path when building inside Docker
  Dockerfile.alpine
  Dockerfile.ubuntu
Labels: size/XS

#307 refactor MFA code
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/Okta/Models/MfaType.cs
  src/D2L.Bmx/Okta/Models/OktaMfaFactor.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Okta/State/OktaAuthenticateState.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: size/M, language/csharp

#310 Set user read/write permissions when creating files
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
Labels: size/S, language/csharp

#312 Enable Inputing either org name or full domain
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Program.cs
Labels: size/S, language/csharp

#313 refactor/clean up Okta authn code
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/Okta/Models/AuthenticateChallengeMfaOptions.cs
  src/D2L.Bmx/Okta/Models/AuthenticateRequest.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/Okta/Models/CreateSessionRequest.cs
  src/D2L.Bmx/Okta/Models/IssueMfaChallengeRequest.cs
  src/D2L.Bmx/Okta/Models/Readme.md
  src/D2L.Bmx/Okta/Models/VerifyMfaChallengeResponseRequest.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/Okta/State/OktaAuthenticateState.cs
  src/D2L.Bmx/Okta/State/OktaAuthenticatedState.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/SourceGenerationContext.cs
Labels: size/L, language/csharp

#314 Don't create session file on read
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: size/S, language/csharp

#309 update build configuration
  .github/workflows/publish.yml
  Dockerfile.alpine
  Dockerfile.ubuntu
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/nuget.config
Labels: size/M, language/csharp, area/github-actions

#318 selectively preserve AWSSDK types from trimming
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/ILLink.Descriptors.xml
Labels: size/S, language/csharp

#320 nits
  src/D2L.Bmx/SourceGenerationContext.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/S, language/csharp

#321 add .dockerignore
  .dockerignore
Labels: size/XS

#315 Simplify Okta API calls with HttpClient Json convenient methods
  src/D2L.Bmx/Okta/OktaApi.cs
Labels: size/M, language/csharp
