Repository Brightspace/bmx, pull requests merged in 2023-07, with the labels that each got.

#361 easier to understand messages / prompts for user
  src/D2L.Bmx/BmxException.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/LoginHandler.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/PrintFormat.cs
  src/D2L.Bmx/PrintHandler.cs
  src/D2L.Bmx/Program.cs
Labels: size/L, language/csharp

#364 fix spacing on org console prompt
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/XS, language/csharp

#366 write: fix ini parser encoding to UTF-8
  src/D2L.Bmx/WriteHandler.cs
Labels: size/XS, language/csharp

#365 update readme documentation
  LICENSE
  README.md
Labels: size/L

#367 CI: pin .NET version on Linux to work around SDK regression
  .github/workflows/publish.yml
  Dockerfile.alpine
  Dockerfile.ubuntu
Labels: size/S, area/github-actions

#368 CI: include CPU arch in release assets names
  .github/workflows/publish.yml
Labels: size/S, area/github-actions

#369 ci: docker builds set their build version
  .github/workflows/publish.yml
  Dockerfile.alpine
  Dockerfile.ubuntu
Labels: size/S, area/github-actions

#370 consistent casing for "optional"
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/XS, language/csharp

#371 force LF as newline when printing bash commands
  src/D2L.Bmx/PrintHandler.cs
Labels: size/S, language/csharp

#372 auto select account & role when only one is available
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/S, language/csharp

#374 list notable changes between v2 & v3 on README
  README.md
Labels: size/S

#375 tweak README
  README.md
Labels: size/S
