Repository Brightspace/bmx, pull requests merged in 2024-07, with the labels that each got.

#456 Update PR Template
  .github/pull_request_template.md
Labels: size/XS

#457 ci: bump editorconfig-checker to node20
  .github/workflows/editorconfig-checker.yml
Labels: size/XS, area/github-actions

#458 Improve question MFA prompt
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/D2L.Bmx.csproj
  src/D2L.Bmx/JsonSerializerContext.cs
  src/D2L.Bmx/Okta/Models/AuthenticateResponse.cs
  src/D2L.Bmx/OktaAuthenticator.cs
Labels: size/L, language/csharp

#461 remove AWS credential provider settings on `bmx write`
  src/D2L.Bmx/WriteHandler.cs
Labels: size/S, language/csharp

#462 update to .NET 9
  .github/workflows/format.yml
  .github/workflows/publish.yml
  Dockerfile.al2
  Dockerfile.alpine
  src/D2L.Bmx/D2L.Bmx.csproj
Labels: size/S, language/csharp, area/github-actions

#464 print parameter value if and only if provided via CLI arg or config
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ConsolePrompter.cs
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/ParameterDescriptions.cs
  src/D2L.Bmx/ParameterSource.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/M, language/csharp

#466 use ANSI escape codes to control colours of parameters we print
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: size/M, language/csharp

#467 use ANSI escape codes to control all console text colours
  src/D2L.Bmx/ConsoleWriter.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
  src/D2L.Bmx/UpdateChecker.cs
  src/D2L.Bmx/WriteHandler.cs
Labels: size/M, language/csharp

#468 fix up & touch up user facing messages
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaApi.cs
  src/D2L.Bmx/OktaAuthenticator.cs
  src/D2L.Bmx/Program.cs
Labels: size/S, language/csharp

#470 touch up mintty warning message
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/S, language/csharp

#471 make coloured text work under winpty
  src/D2L.Bmx/VirtualTerminal.cs
Labels: size/S, language/csharp

#473 print duration when provided via config file or CLI arg
  src/D2L.Bmx/AwsCredsCreator.cs
  src/D2L.Bmx/ParameterSource.cs
Labels: size/XS, language/csharp

#474 replace RuntimeInformation.IsOSPlatform with OperatingSystem.Is*
  src/D2L.Bmx/Aws/AwsCredsCache.cs
  src/D2L.Bmx/BmxConfigProvider.cs
  src/D2L.Bmx/Okta/OktaSessionStorage.cs
  src/D2L.Bmx/UpdateChecker.cs
  src/D2L.Bmx/UpdateHandler.cs
  src/D2L.Bmx/VirtualTerminal.cs
Labels: size/S, language/csharp

#475 don't print duration if --non-interactive supplied
  src/D2L.Bmx/AwsCredsCreator.cs
Labels: size/XS, language/csharp

#476 remove console IO hack
  src/D2L.Bmx/ConsolePrompter.cs
Labels: size/M, language/csharp
